textarea {
  resize: none;
}
th,
td {
  vertical-align: middle;
}
.mark,
mark {
  color: white;
  background-color: green;
}
.iconBTN {
  text-align: center;
  cursor: pointer;
}
img {
  width: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
